<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta property="og:title" content="Discord Server Suggestions"/>
    <meta property="og:url" content="<%= request.url %>"/>
    <title>Discord Server Suggestions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
      @media (min-width: 576px) {
        h1#fix {
          margin-top: -50px;
        }
      }
      @media (max-width: 576px) {
        h1#fix {
          margin-top: -20px;
        }
      }
    </style>
  </head>

  <body style="background-color: rgb(64, 64, 173)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">DSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home"></i>
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/server/<%= params['id'] %>">Server: Unknown</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extra
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://discord.gg/ZmPNEMw" target="_blank">
                  <i class="fab fa-discord"></i>
                  Discord Server</a>
                <a class="dropdown-item" href="https://discordapp.com/oauth2/authorize?client_id=553953525818851369&scope=bot" target="_blank">
                  <i class="fas fa-robot"></i>
                  Discord Bot</a>
                <a class="dropdown-item" href="https://github.com/DiscordServerSuggestions/Website" target="_blank">
                  <i class="fas fa-bug"></i>
                  Bugs/Feedback</a>
              </div>
            </li>
          </ul>
          <hr/>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 20px;">
      <div class="jumbotron">
        <h1 id="fix">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </body>
</html>
